@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    justify-content: center;
    background-image: url("bg.avif");
    background-position: center center;
    overflow: hidden;
}

h2 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 24px;
    text-align: center;
}

.clock {
    display: flex;
}

.clock div {
    margin: 5px;
    position: relative;
}

.clock span {
    width: 100px;
    height: 80px;
    background-color: slateblue;
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/*  #hour, #Minutes, #Seconds{
    font-family: 'Orbitron', sans-serif;
} */

.clock .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkblue;
}

/* span#text{
    background-color: darkblue;
    opacity: 0.8;
} */

.clock #ampm {
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: rgb(124, 140, 233);
}